<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
   <label for="newteam[name]">Team Name:</label>
    <input type='text' name="newteam[name]"/>
    <br>
      <label for= "newteam[coach]">Coach:</label>
     <input type= 'text' name="newteam[coach]"/>
     <br>
    <label for= "newteam[pg]">Point Guard:</label>
     <input type= 'text' pg="newteam[pg]"/>
     <br>
      <label for= "newteam[sg]">Shooting Guard:</label>
     <input type= 'text' name="newteam[sg]"/>
     <br>
     <label for= "newteam[sf]">Small Forward:</label>
     <input type= 'text' name="newteam[sf]"/>
     <br>
      <label for= "newteam[pf]">Power Forward:</label>
     <input type= 'text' name="newteam[pf]"/>
     <br>
      <label for= "newteam[center]">Center:</label>
     <input type= 'text' center="newteam[center]"/>
     <br>
       <input type="submit" id="Submit" />
   </form>
 </body>
</html>


