<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="newteam">
     <label for= "newteam[teamname]">Team Name:</label>
     <input type= 'text' teamname="newteam[teamname]"/>
     <br>
      <label for= "newteam[coach]">Coach:</label>
     <input type= 'text' coach="newteam[coach]"/>
     <br>
    <label for= "newteam[pointguard]">Point Guard:</label>
     <input type= 'text' pointguard="newteam[pointguard]"/>
     <br>
      <label for= "newteam[shootingguard]">Shooting Guard:</label>
     <input type= 'text' shootingguard="newteam[shootingguard]"/>
     <br>
     <label for= "newteam[smallforward]">Small Forward:</label>
     <input type= 'text' smallforward="newteam[smallforward]"/>
     <br>
   </form>
 </body>
</html>


